{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "node": 8,
        "edge": 14,
        "firefox": 54,
        "chrome": 60,
        "safari": 10
      },
      "useBuiltIns": true,
      "loose": true
    }]
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "transform-export-extensions",
    "transform-class-properties"
  ]
}
